[package]
name = "pyrometer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
petgraph = "0.6.2"
solang-parser = { version = "0.2.4", features = ["pt-serde"] }
ethers-core = "*"
ariadne = "0.2.0"
shared = { path = "./shared" }
hex = "0.4.3"
tracing = { version = "0.1", features = ["attributes"] }
tracing-subscriber = "0.3"
itertools = "0.10.5"

[workspace]
members = ["cli", "shared"]


[patch.crates-io]
ariadne = {git = "https://github.com/brockelmore/ariadne"}

[profile.release]
debug = true
